a:link {
	color: white;
	 text-decoration: none;
}
a:visited {
	color: white;
	 text-decoration: none;
}
a:active {
	color:#0047B2;
	 text-decoration: none;
}
a:hover {
	color:#0047B2;
	 text-decoration: none;
}

#menuEdit {
    position: absolute;
    font-family:'Orbitron';
    color: white;
    top: 10px;    


}
#menu {
	position: absolute;
	top: 108px;
	left: 824px;
	height: 300px;
    width: 20%;
	background-color: #0066FF

}